<!-- Header -->
<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/" method="POST">
    <input type="text">
    <button>Publish</button>
</form>

<!-- Footer -->
<%- include("partials/footer") -%>