<!-- Header -->
<%- include("partials/header") -%>

<h1>Home Page</h1>

<p> <%= startingContent %> </p>

<% console.log(post); %>

<!-- loop that grabs the post title -->

<% for (var i=0; i<post.length; i++) { %>
   <% console.log(post[i].title); %>
<% }; %>

<!-- Footer -->
<%- include("partials/footer") -%>

